.form-column
{
    display: flex;
    justify-content: center;
}
.form-column-child-right
{
    width: 45%;
}
.form-column-child-center
{
    width: 10%;
}
.form-column-child-left
{
    width: 45%;
}
#your-first-name, #your-last-name
{
    display: inline;
}
.form-button-submit, .form-button-remove
{
    box-sizing: border-box;
    padding: 10px 80px;
    margin: 20px 40px;
    font-weight: bold;
}
.form-button
{
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.report-nav
{
    justify-content: center;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.report-nav-el
{
    color: black;
    font-weight: bold;
    width: 250px;
    text-align: center;
}
.alert-area
{
    position: fixed;
    top: 70px;
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 1000;
}
.alert-body
{
    width: 100%;
    min-height: 100px;
}
.box26 {
    max-width: 500px;
    position: relative;
    margin: 2em auto;
    padding: 0.5em 1em;
    border: solid 2px #5D627B;
    border-radius: 6px;
}
.box26 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 15px;
    background: #FFF;
    color: #5D627B;
    font-weight: normal;
}
.box26 p {
    margin: 0;
    padding: 0;
}
